$white: #FFFFFF;

$primary-red: #B62025;
$primary-red-dark: #A82126;
$primary-blue: #74799F;
$primary-blue-dark: #5A5283;

$status-active: #7664AB;
$status-active-bg: #7664AB40;

$primary-text: #1A2A39;
$secondary-text: #5E6A75;
$light-text: #8C959C;

$background: #F7F7F7;
$background-gray: #F1F5F8;
$background-gray-dark: #DEE5EC;

$border: $background-gray-dark;
$border-light: $background-gray;
$border-blue: #A6CEE3;

$disabled: #C7C9D9;
